In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Read the data and print out some rows
data = pd.read_csv('Covid_stats.csv', encoding='latin1')
data.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÿCases/1M pop,...,TotalTests,Tests/\r\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,USA,"111,820,082",NaN,"1,219,487",NaN,"109,814,428",NaN,"786,167",940,"333,985",...,"1,186,851,502","3,544,901","334,805,269",North America,3,275,0.0,NaN,NaN,"2,348"
1,India,"45,035,393",NaN,"533,570",NaN,NaN,NaN,NaN,NaN,"32,016",...,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2.0,NaN,NaN,0.4
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013",...,"271,490,188","4,139,547","65,584,518",Europe,2,391,0.0,NaN,NaN,NaN
3,Germany,"38,828,995",NaN,"183,027",NaN,"38,240,600",NaN,"405,368",NaN,"462,891",...,"122,332,384","1,458,359","83,883,596",Europe,2,458,1.0,NaN,NaN,"4,833"
4,Brazil,"38,743,918",NaN,"711,380",NaN,"36,249,161",NaN,"1,783,377",NaN,"179,908",...,"63,776,166","296,146","215,353,593",South America,6,303,3.0,NaN,NaN,"8,281"

In [3]:
data_copy = data.copy()

In [4]:
data_copy

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÿCases/1M pop,...,TotalTests,Tests/\r\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,USA,"111,820,082",NaN,"1,219,487",NaN,"109,814,428",NaN,"786,167",940,"333,985",...,"1,186,851,502","3,544,901","334,805,269",North America,3,275,0.0,NaN,NaN,"2,348"
1,India,"45,035,393",NaN,"533,570",NaN,NaN,NaN,NaN,NaN,"32,016",...,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2.0,NaN,NaN,0.4
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013",...,"271,490,188","4,139,547","65,584,518",Europe,2,391,0.0,NaN,NaN,NaN
3,Germany,"38,828,995",NaN,"183,027",NaN,"38,240,600",NaN,"405,368",NaN,"462,891",...,"122,332,384","1,458,359","83,883,596",Europe,2,458,1.0,NaN,NaN,"4,833"
4,Brazil,"38,743,918",NaN,"711,380",NaN,"36,249,161",NaN,"1,783,377",NaN,"179,908",...,"63,776,166","296,146","215,353,593",South America,6,303,3.0,NaN,NaN,"8,281"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Tokelau,80,NaN,NaN,NaN,NaN,NaN,80,NaN,"58,055",...,NaN,NaN,"1,378",Australia/Oceania,17,NaN,NaN,NaN,NaN,"58,055"
227,Vatican City,29,NaN,NaN,NaN,29,NaN,0,NaN,"36,295",...,NaN,NaN,799,Europe,28,NaN,NaN,NaN,NaN,NaN
228,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,16,...,NaN,NaN,"626,161",Africa,"62,616","626,161",NaN,NaN,NaN,NaN
229,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Total:,"704,753,890",0.0,"7,010,681",0.0,"675,619,811",790.0,"22,123,398","34,794","90,413.4",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_copy.rename(columns={
    'Country,Other': 'Country',
    'Serious,Critical': 'Serious',
    'TotÿCases/1M pop': 'TotalCases_per_1M',
    'Deaths/1M pop': 'Deaths_per_1M',
    'Tests/\r\n1M pop': 'Tests_per_1M',
    '1 Caseevery X ppl': '1_Case_every_X_ppl',
    '1 Deathevery X ppl': '1_Death_every_X_ppl',
    '1 Testevery X ppl': '1_Test_every_X_ppl', 
    'New Cases/1M pop': 'New_Cases_per_1M',
    'New Deaths/1M pop': 'New_Deaths_per_1M',
    'Active Cases/1M pop': 'Active_Cases_per_1M'
}, inplace=True)
# Handle missing values (impute with 0 for numerical columns)
numerical_cols = data_copy.select_dtypes(include=np.number).columns
data_copy[numerical_cols] = data_copy[numerical_cols].fillna(0)

In [6]:
data_copy

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,Serious,TotalCases_per_1M,...,TotalTests,Tests_per_1M,Population,Continent,1_Case_every_X_ppl,1_Death_every_X_ppl,1_Test_every_X_ppl,New_Cases_per_1M,New_Deaths_per_1M,Active_Cases_per_1M
0,USA,"111,820,082",0.0,"1,219,487",0.0,"109,814,428",0.0,"786,167",940,"333,985",...,"1,186,851,502","3,544,901","334,805,269",North America,3,275,0.0,0.0,0.0,"2,348"
1,India,"45,035,393",0.0,"533,570",0.0,NaN,0.0,NaN,NaN,"32,016",...,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2.0,0.0,0.0,0.4
2,France,"40,138,560",0.0,"167,642",0.0,"39,970,918",0.0,0,NaN,"612,013",...,"271,490,188","4,139,547","65,584,518",Europe,2,391,0.0,0.0,0.0,NaN
3,Germany,"38,828,995",0.0,"183,027",0.0,"38,240,600",0.0,"405,368",NaN,"462,891",...,"122,332,384","1,458,359","83,883,596",Europe,2,458,1.0,0.0,0.0,"4,833"
4,Brazil,"38,743,918",0.0,"711,380",0.0,"36,249,161",0.0,"1,783,377",NaN,"179,908",...,"63,776,166","296,146","215,353,593",South America,6,303,3.0,0.0,0.0,"8,281"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Tokelau,80,0.0,NaN,0.0,NaN,0.0,80,NaN,"58,055",...,NaN,NaN,"1,378",Australia/Oceania,17,NaN,0.0,0.0,0.0,"58,055"
227,Vatican City,29,0.0,NaN,0.0,29,0.0,0,NaN,"36,295",...,NaN,NaN,799,Europe,28,NaN,0.0,0.0,0.0,NaN
228,Western Sahara,10,0.0,1,0.0,9,0.0,0,NaN,16,...,NaN,NaN,"626,161",Africa,"62,616","626,161",0.0,0.0,0.0,NaN
229,MS Zaandam,9,0.0,2,0.0,7,0.0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
230,Total:,"704,753,890",0.0,"7,010,681",0.0,"675,619,811",790.0,"22,123,398","34,794","90,413.4",...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN

In [7]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              231 non-null    object
 1   TotalCases           231 non-null    object
 2   NewCases             231 non-null    float64
 3   TotalDeaths          226 non-null    object
 4   NewDeaths            231 non-null    float64
 5   TotalRecovered       183 non-null    object
 6   NewRecovered         231 non-null    float64
 7   ActiveCases          184 non-null    object
 8   Serious              53 non-null     object
 9   TotalCases_per_1M    229 non-null    object
 10  Deaths_per_1M        224 non-null    object
 11  TotalTests           212 non-null    object
 12  Tests_per_1M         212 non-null    object
 13  Population           228 non-null    object
 14  Continent            228 non-null    object
 15  1_Case_every_X_ppl   228 non-null    object
 16  1_Death_every_X_ppl  223 non-null    object
 17  1_Test_every_X_ppl   231 non-null    float64
 18  New_Cases_per_1M     231 non-null    float64
 19  New_Deaths_per_1M    231 non-null    float64
 20  Active_Cases_per_1M  202 non-null    object
dtypes: float64(6), object(15)
memory usage: 38.0+ KB

In [8]:

numeric_columns = ['TotalCases', 'TotalDeaths', 'TotalRecovered', 'ActiveCases',
                   'Serious', 'TotalCases_per_1M', 'Deaths_per_1M',
                   'TotalTests', 'Tests_per_1M', 'Population',
                   '1_Case_every_X_ppl', '1_Death_every_X_ppl', '1_Test_every_X_ppl',
                   'New_Cases_per_1M', 'New_Deaths_per_1M', 'Active_Cases_per_1M']

for column in numeric_columns:
    data_copy[column] = data_copy[column].astype(str).str.replace(',', '', regex=False)
    data_copy[column] = pd.to_numeric(data_copy[column], errors='coerce')  # Convert and coerce errors to NaN
    data_copy[column] = data_copy[column].fillna(0) # fill any new NaNs from conversion
        

# Thay thế NaN trong cột string bằng chuỗi rỗng hoặc giá trị mặc định

In [9]:
data_copy

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,Serious,TotalCases_per_1M,...,TotalTests,Tests_per_1M,Population,Continent,1_Case_every_X_ppl,1_Death_every_X_ppl,1_Test_every_X_ppl,New_Cases_per_1M,New_Deaths_per_1M,Active_Cases_per_1M
0,USA,111820082,0.0,1219487.0,0.0,109814428.0,0.0,786167.0,940.0,333985.0,...,1.186852e+09,3544901.0,3.348053e+08,North America,3.0,275.0,0.0,0.0,0.0,2348.0
1,India,45035393,0.0,533570.0,0.0,0.0,0.0,0.0,0.0,32016.0,...,9.358795e+08,665334.0,1.406632e+09,Asia,31.0,2636.0,2.0,0.0,0.0,0.4
2,France,40138560,0.0,167642.0,0.0,39970918.0,0.0,0.0,0.0,612013.0,...,2.714902e+08,4139547.0,6.558452e+07,Europe,2.0,391.0,0.0,0.0,0.0,0.0
3,Germany,38828995,0.0,183027.0,0.0,38240600.0,0.0,405368.0,0.0,462891.0,...,1.223324e+08,1458359.0,8.388360e+07,Europe,2.0,458.0,1.0,0.0,0.0,4833.0
4,Brazil,38743918,0.0,711380.0,0.0,36249161.0,0.0,1783377.0,0.0,179908.0,...,6.377617e+07,296146.0,2.153536e+08,South America,6.0,303.0,3.0,0.0,0.0,8281.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Tokelau,80,0.0,0.0,0.0,0.0,0.0,80.0,0.0,58055.0,...,0.000000e+00,0.0,1.378000e+03,Australia/Oceania,17.0,0.0,0.0,0.0,0.0,58055.0
227,Vatican City,29,0.0,0.0,0.0,29.0,0.0,0.0,0.0,36295.0,...,0.000000e+00,0.0,7.990000e+02,Europe,28.0,0.0,0.0,0.0,0.0,0.0
228,Western Sahara,10,0.0,1.0,0.0,9.0,0.0,0.0,0.0,16.0,...,0.000000e+00,0.0,6.261610e+05,Africa,62616.0,626161.0,0.0,0.0,0.0,0.0
229,MS Zaandam,9,0.0,2.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0
230,Total:,704753890,0.0,7010681.0,0.0,675619811.0,790.0,22123398.0,34794.0,90413.4,...,0.000000e+00,0.0,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
cot_bang_khong = data_copy.columns[data_copy.eq(0.00).all()]
data_copy = data_copy.drop(columns = cot_bang_khong)
data_copy

,Country,TotalCases,TotalDeaths,TotalRecovered,NewRecovered,ActiveCases,Serious,TotalCases_per_1M,Deaths_per_1M,TotalTests,Tests_per_1M,Population,Continent,1_Case_every_X_ppl,1_Death_every_X_ppl,1_Test_every_X_ppl,Active_Cases_per_1M
0,USA,111820082,1219487.0,109814428.0,0.0,786167.0,940.0,333985.0,3642.0,1.186852e+09,3544901.0,3.348053e+08,North America,3.0,275.0,0.0,2348.0
1,India,45035393,533570.0,0.0,0.0,0.0,0.0,32016.0,379.0,9.358795e+08,665334.0,1.406632e+09,Asia,31.0,2636.0,2.0,0.4
2,France,40138560,167642.0,39970918.0,0.0,0.0,0.0,612013.0,2556.0,2.714902e+08,4139547.0,6.558452e+07,Europe,2.0,391.0,0.0,0.0
3,Germany,38828995,183027.0,38240600.0,0.0,405368.0,0.0,462891.0,2182.0,1.223324e+08,1458359.0,8.388360e+07,Europe,2.0,458.0,1.0,4833.0
4,Brazil,38743918,711380.0,36249161.0,0.0,1783377.0,0.0,179908.0,3303.0,6.377617e+07,296146.0,2.153536e+08,South America,6.0,303.0,3.0,8281.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Tokelau,80,0.0,0.0,0.0,80.0,0.0,58055.0,0.0,0.000000e+00,0.0,1.378000e+03,Australia/Oceania,17.0,0.0,0.0,58055.0
227,Vatican City,29,0.0,29.0,0.0,0.0,0.0,36295.0,0.0,0.000000e+00,0.0,7.990000e+02,Europe,28.0,0.0,0.0,0.0
228,Western Sahara,10,1.0,9.0,0.0,0.0,0.0,16.0,2.0,0.000000e+00,0.0,6.261610e+05,Africa,62616.0,626161.0,0.0,0.0
229,MS Zaandam,9,2.0,7.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,NaN,0.0,0.0,0.0,0.0
230,Total:,704753890,7010681.0,675619811.0,790.0,22123398.0,34794.0,90413.4,899.4,0.000000e+00,0.0,0.000000e+00,NaN,0.0,0.0,0.0,0.0

In [11]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              231 non-null    object
 1   TotalCases           231 non-null    int64
 2   TotalDeaths          231 non-null    float64
 3   TotalRecovered       231 non-null    float64
 4   NewRecovered         231 non-null    float64
 5   ActiveCases          231 non-null    float64
 6   Serious              231 non-null    float64
 7   TotalCases_per_1M    231 non-null    float64
 8   Deaths_per_1M        231 non-null    float64
 9   TotalTests           231 non-null    float64
 10  Tests_per_1M         231 non-null    float64
 11  Population           231 non-null    float64
 12  Continent            228 non-null    object
 13  1_Case_every_X_ppl   231 non-null    float64
 14  1_Death_every_X_ppl  231 non-null    float64
 15  1_Test_every_X_ppl   231 non-null    float64
 16  Active_Cases_per_1M  231 non-null    float64
dtypes: float64(14), int64(1), object(2)
memory usage: 30.8+ KB

In [12]:
data_copy.Continent = data_copy.Continent.fillna("")
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              231 non-null    object
 1   TotalCases           231 non-null    int64
 2   TotalDeaths          231 non-null    float64
 3   TotalRecovered       231 non-null    float64
 4   NewRecovered         231 non-null    float64
 5   ActiveCases          231 non-null    float64
 6   Serious              231 non-null    float64
 7   TotalCases_per_1M    231 non-null    float64
 8   Deaths_per_1M        231 non-null    float64
 9   TotalTests           231 non-null    float64
 10  Tests_per_1M         231 non-null    float64
 11  Population           231 non-null    float64
 12  Continent            231 non-null    object
 13  1_Case_every_X_ppl   231 non-null    float64
 14  1_Death_every_X_ppl  231 non-null    float64
 15  1_Test_every_X_ppl   231 non-null    float64
 16  Active_Cases_per_1M  231 non-null    float64
dtypes: float64(14), int64(1), object(2)
memory usage: 30.8+ KB

In [13]:
data_copy

,Country,TotalCases,TotalDeaths,TotalRecovered,NewRecovered,ActiveCases,Serious,TotalCases_per_1M,Deaths_per_1M,TotalTests,Tests_per_1M,Population,Continent,1_Case_every_X_ppl,1_Death_every_X_ppl,1_Test_every_X_ppl,Active_Cases_per_1M
0,USA,111820082,1219487.0,109814428.0,0.0,786167.0,940.0,333985.0,3642.0,1.186852e+09,3544901.0,3.348053e+08,North America,3.0,275.0,0.0,2348.0
1,India,45035393,533570.0,0.0,0.0,0.0,0.0,32016.0,379.0,9.358795e+08,665334.0,1.406632e+09,Asia,31.0,2636.0,2.0,0.4
2,France,40138560,167642.0,39970918.0,0.0,0.0,0.0,612013.0,2556.0,2.714902e+08,4139547.0,6.558452e+07,Europe,2.0,391.0,0.0,0.0
3,Germany,38828995,183027.0,38240600.0,0.0,405368.0,0.0,462891.0,2182.0,1.223324e+08,1458359.0,8.388360e+07,Europe,2.0,458.0,1.0,4833.0
4,Brazil,38743918,711380.0,36249161.0,0.0,1783377.0,0.0,179908.0,3303.0,6.377617e+07,296146.0,2.153536e+08,South America,6.0,303.0,3.0,8281.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Tokelau,80,0.0,0.0,0.0,80.0,0.0,58055.0,0.0,0.000000e+00,0.0,1.378000e+03,Australia/Oceania,17.0,0.0,0.0,58055.0
227,Vatican City,29,0.0,29.0,0.0,0.0,0.0,36295.0,0.0,0.000000e+00,0.0,7.990000e+02,Europe,28.0,0.0,0.0,0.0
228,Western Sahara,10,1.0,9.0,0.0,0.0,0.0,16.0,2.0,0.000000e+00,0.0,6.261610e+05,Africa,62616.0,626161.0,0.0,0.0
229,MS Zaandam,9,2.0,7.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,,0.0,0.0,0.0,0.0
230,Total:,704753890,7010681.0,675619811.0,790.0,22123398.0,34794.0,90413.4,899.4,0.000000e+00,0.0,0.000000e+00,,0.0,0.0,0.0,0.0